*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}


body{
    background: linear-gradient( rgb(252, 204, 245), rgb(239, 119, 225) );
    display: flex;
    justify-content: center;
}

div{
    height: 70px;
    width: 200px;
    border: 0.5px solid rgb(254, 181, 254);
    border-radius: 50px;
    text-align: center;
    margin-top: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(253, 222, 255)
}

a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}