*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

body{
    background-color: whitesmoke;
}

header{
    background-color: rgb(126, 126, 208);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 70px;
}

.name{
    font-size: 30px;
    color: azure;
    font-weight: bold;
    margin-left: 20px;
}

.menu{
    display: flex;
    gap:25px;
    margin-right: 30px;
}
a{
   color: azure;
   font-size: 20px;
   padding-left: 25px;
   text-decoration: none;
}

.btn{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
.burger{
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: 0.3s;
}
.mobile{
    display: none;
    background-color: rgb(126, 126, 208);
    padding: 20px;
    text-align: center;
    width: 100%;
    border-top: 2px solid white;
}

main{
    display: flex;
    justify-content: center;
}
.content {
  margin-top: 50px;
  background-color: white;
  border: 2px solid rgb(236, 236, 236); 
  border-radius: 8px;     
  max-width: 90%;
  padding: 30px;         
}
h1 {
  color: rgb(126, 126, 208);        
  font-weight: bold;
  margin: 0 0 20px 0;
  font-size: 35px;
}
p {
  font-size: 17px;
  margin: 0 0 20px 0;
}
p:last-child {
  margin-bottom: 0;
}


@media (max-width: 768px) {
    .menu{
        display: none;
    }
    .btn{
        display: flex;
    }
    .mobile{
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        background-color: rgb(126, 126, 208);
        padding: 20px;
        z-index: 100;
        border-top: 2px solid white;
    }
    .mobile.active{
        display: block;
    }
    a{
        display: block;
        text-align: center;
        padding: 10px 0;
        color: azure;
        text-decoration: none;
        font-size: 20px;
    }
}